@model SoldItem

@{
    ViewData["Title"] = "Delete";
}


<div>
    <h4>Видалення</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bidder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bidder.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuctionId" />
        <input type="submit" value="Видалити" class="btn btn-danger"/> |
        <a asp-action="Index">Повернутись до списку</a>
    </form>
</div>
