@model AuctionWebApplication.Models.SoldItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SoldItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bidder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bidder.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
